<html>
    <link rel="stylesheet" href="static/css/cus_home.css">
    <body>
        <section class="showcase">
            <header>
            <h2 class="logo"><br>Online Car Resale Price Prediction</h2>
            </header>
            <video src="static/res/vidd.mp4" muted loop autoplay></video>
            <div class="overlay"></div>
            <div class="text">
            <h3>With difficult economic conditions </h3>
            <h2> it is likely that sales of second-hand cars will increase</h2>
            <p>In most of the countries, it is common to lease a car rather than buying it
                outright. A lease is a binding contract between a buyer and a
                seller in which the buyer must pay fixed instalments for a pre-
                defined number of months/years to the seller/financer. After
                the lease period is over, the buyer has the possibility to buy the
                car at its residual value, i.e. its expected resale value. Thus, this
                application is of commercial interest to seller/financers to be
                able to predict the residual value of cars with accuracy.
            </p>
            <a href="{{url_for('car_price')}}">Car Resale Price</a>
            </div>
            <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
            </ul>
        </section>
    </body>
</html>